@use "variables" as var
    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: inherit


body
     background-image: var.$bg-gradient
     background-color: var.$color-dark-blue
     font-family: var.$default-font
     color: var.$default-font-color


#root
    min-height: 100vh
    max-width: 800px
    padding: 1rem
    margin: auto
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
